---
policy_id: "105-2"
title: "105 2 105 2 Responsibility For Providing Verification"
parent: ""
source_url: "C:\Users\nabilahmed\Documents\Code\retrieve\corpus\105\105-2_105-2_responsibility_for_providing_verification.md"
last_ingested: "2026-04-16"
---

Administrative Procedures Manual

[Click here to see this page in full context](#)

105-2          RESPONSIBILITY
FOR PROVIDING VERIFICATION

The client has primary responsibility for providing
evidence to support its statements and to resolve any questionable information.
The caseworker will accept any reasonable evidence provided by the household
and will be primarily concerned with how adequately the verification proves
the statements on the application. If the household is unable to obtain
documentary evidence in a timely manner, or if the caseworker can do so
more expeditiously than the household, the caseworker will offer assistance
to the household in obtaining the evidence.

When documenting the date of receipt for
verification provided by clients, "deadline date" is defined
as the end of the business working day. This means that any document or
verification received after DPADivision of Public Assistance
business hours (5:00 pm) must be date-stamped and accepted as received
the next business day.

For DPADivision of Public Assistance
offices that have drop boxes, staff must ensure the drop box is checked
at 5:00 pm during closing time. Any document or verification in the drop
box after that time frame will be considered received the next business
day. Documents submitted during the weekend (Saturday and Sunday) will
be stamped as received on Monday, or Tuesday if Monday is a holiday.

The received date for faxed or scanned documents
and verification will also be identified based on the time stamp on the
document. Any document or verification with a time stamp of after 5:00
pm will be considered as received the next business day. Documents or
verification received during the weekend (Saturday and Sunday) will be
stamped as received on Monday, or Tuesday if Monday is a holiday.

|  |  |  |
| --- | --- | --- |
| [Previous Section](105-1_verification_of_information.md) |  | [Next Section](105-3_documentary_evidence.md) |
|  |  | [2013-01 (05/13)](../transmittals/transmittal_2013-01.md) |